<nav id="menu">
  <header class="major">
    <!--<h2>Menu</h2>-->
  </header>
  <ul>
    <li><a href="{{ .Site.Home.RelPermalink }}">Home page</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/biography/">My Biography</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/narrative/">My Narrative</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/gall-body-painting/">Gallery: Body Painting</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/gall-kinetic-light/">Gallery: Kinetic Light</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/gall-production/">Gallery: Production</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/gall-pyrotechnics/">Gallery: Pyrotechnics</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/gall-slides-handpainted/">Gallery: Hand-painted Slides</a></li>
    <li><a href="{{ .Site.Home.RelPermalink }}posts/gall-slides-liquid/">Gallery: Liquid Slides</a></li> 
    <li><a href="{{ .Site.Home.RelPermalink }}posts/videos/">Videos</a></li>
    <!--<li>-->
      <!--<span class="opener">Submenu</span>-->
      <!--<ul>-->
	<!--<li><a href="#">Lorem Dolor</a></li>-->
	<!--<li><a href="#">Ipsum Adipiscing</a></li>-->
	<!--<li><a href="#">Tempus Magna</a></li>-->
	<!--<li><a href="#">Feugiat Veroeros</a></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="#">Etiam Dolore</a></li>-->
    <!--<li><a href="#">Adipiscing</a></li>-->
    <!--<li>-->
      <!--<span class="opener">Another Submenu</span>-->
      <!--<ul>-->
	<!--<li><a href="#">Lorem Dolor</a></li>-->
	<!--<li><a href="#">Ipsum Adipiscing</a></li>-->
	<!--<li><a href="#">Tempus Magna</a></li>-->
	<!--<li><a href="#">Feugiat Veroeros</a></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="#">Maximus Erat</a></li>-->
    <!--<li><a href="#">Sapien Mauris</a></li>-->
    <!--<li><a href="#">Amet Lacinia</a></li>-->
  </ul>
</nav>
